#barChartContainer {
	height: 100%;
	min-height: 350px;
}

.xAxis text {
	font-size: 11px;
	fill: black;
	transform: rotate(-45deg);
	text-anchor: end;
}

.yAxis text {
	font-size: 11px;
	color: black;
}

.yAxis line {
	stroke: lightgrey;
	opacity: 0.3;
}

.bar {
	stroke: #000;
}
.positive {
	fill: #fade47;
}

.positive:hover {
	fill: #86bbd8;
}

.negative {
	fill: #d7544d;
}

.negative:hover {
	fill: #550c18;
}
