.axis text {
	font-size: 11px;
	fill: black;
}

.axis-bottom text {
	transform: rotate(-45deg);
	text-anchor: end;
}

.positive {
	fill: #0075c4;
}

.positive:hover {
	fill: #2f4858;
}

.negative {
	fill: #ba2d0b;
}

.negative:hover {
	fill: #550c18;
}
