.splashBackground {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
	background-image: url("../images/splash.jpeg");
}

.transparent {
	background-color: rgba(255, 255, 255, 0.5);
}
